@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,700;1,700&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Figtree", Helvetica, Arial, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-rokkitt: "Rokkitt", Georgia, Cambria, "Times New Roman", Times, serif;
}